.box{
    width: 30%;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 41px 89px 0px rgba(0, 0, 0, 0.10);
}

.box img{
    object-fit: cover;
    object-position: center;
}

.danhgia{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
}

.content{
    width: 80%;
    margin: 30px auto;
}

.content h1{
    font-size: calc(2rem + 0.5vw);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content span{
    font-size: calc(1.5rem + 0.2vw);
    color: black;
    opacity: 0.6;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.danhgia p{
    font-size: calc(1.5rem + 0.2vw);
    color: black;
    opacity: 0.6;
    margin-right: 10px; 
}