.header{
    width: 100%;
    height: 70px;
}

.wrap{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: max-content;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_wrap{
    width: 60px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_text{
    font-size: calc(1.5rem + 0.5vw);
}

.logo img{
    width: 80%;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 70px;
}

.nav_list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav_list li{
    margin: 0 30px;
}

.account{
    width: 200px;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
}

.login{
    width: 60%;
    position: absolute;
    left: 0;
}

.sign{
    width: 60%;
    position: absolute;
    right: 0;
    padding: 15px 20px;
    background-color: #5D50C6;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign p{
    margin: 0;
    color: white;
}
