.img {
    width: 100%;
    height: 550px;
    overflow: hidden;
}
.img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.wrap{
    position: relative;
    width: 100%;
}

.main{
    position: absolute;
    top: -100px;
}