.main {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.intro{
  margin: 30px 0;
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: center;
}

.svg{
  width: 100%;
  height: 170px;
}

.svg_wrap{
  width: 90%;
  margin: auto;
}

.services{
  padding: 50px 0;
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: center;
}

.address{
  padding: 100px 0 50px 0;
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: center;
}

.home1{
  padding: 100px 0 50px 0;
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: center;
}

.evaluate{
  padding: 100px 0;
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: center;
  background-image: linear-gradient(90deg, #555, #555,#555);
}